.divLoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.divWelcome {
  font-size: 2em;
  font-weight: bolder;
}

.divLogin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
}

.inputEmail,
.inputPassword {
  padding: 15px;
  border: 1px solid gray;
  border-radius: 8px;
  margin-bottom: 10px;
}

.divBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
